<article class="bg-light">
  <div class="date">{{scheduleItem.date}}</div>
  <div class="name">{{scheduleItem.name}}</div>
  <ul class="scheduleItems">
    <li class="schedule__item" *ngFor="let item of scheduleItem.workTimes">
      <div class="border-bottom bg-success bg-gradient text-truncate closed-time pl-1 pr-1"
           *ngIf="item.name; else showTime"
           [title]="item.name"
      >
        {{item.name}}
      </div>
      <ng-template #showTime>
        <div class="border-bottom open-time"
             (click)="regData.openForm(scheduleItem.id, scheduleItem.name, scheduleItem.date, item.time)"
        >{{item.time}}</div>
      </ng-template>
    </li>
  </ul>
</article>
