.scheduleItems{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
}

.open-time{
  cursor: pointer;
}

.closed-time{
  cursor: not-allowed;
}

.shedule__text{
  max-width: 200px;
  display: block;
}
