<div class="container">
  <header class="card-header">
    <h1>Запись к врачу</h1>
  </header>
  <main class="row">
    <aside class="col">
      <app-calendar
        class="row"
        (onDateChange)="updateDateSelected($event)"
      ></app-calendar>
      <app-specialist-list
        class="row"
        [specList]="workingSpecs"
        (onSpecClick)="updateShowedSpec($event)"
      >
      </app-specialist-list>
    </aside>
    <app-shedule-controller
      class="col"
      [allSheduleItems]="allSheduleItems">
    </app-shedule-controller>
  </main>
  <footer class="card-footer text-center">2021г.</footer>
</div>
