<app-register-form
  [hidden]="regData.regFormHidden"
  (onRecordAdd)="addRecord()"
></app-register-form>
<div class="page-container">
  <header class="bg-dark text-white mb-auto text-center pb-2 pt-2">
    <h1>Запись к врачу</h1>
  </header>
  <main class="main-container d-flex w-100">
    <aside class="mt-1 mb-1 aside-menu">
      <app-calendar
        (onDateChange)="updateDateSelected($event)"
      ></app-calendar>
      <app-specialist-list
        class="d-flex flex-column overflow-auto mh-100"
        [specList]="workingSpecs"
        (onSpecClick)="updateShowedSpec($event)"
      >
      </app-specialist-list>
    </aside>
    <app-schedule-controller
      class="mt-1 mb-1 schedule"
      [allscheduleItems]="allScheduleItems">
    </app-schedule-controller>
  </main>
</div>
