<app-register-form
  [hidden]="regData.regFormHidden"
  (onRecordAdd)="addRecord()"
></app-register-form>
<div class="container">
  <header class="bg-dark text-white p-2 mb-auto text-center">
    <h1>Запись к врачу</h1>
  </header>
  <main class="container d-flex mw-100 flex-wrap">
    <aside class="mt-1 mb-1 aside-menu">
      <app-calendar
        class="row"
        (onDateChange)="updateDateSelected($event)"
      ></app-calendar>
      <app-specialist-list
        class="row d-flex flex-column"
        [specList]="workingSpecs"
        (onSpecClick)="updateShowedSpec($event)"
      >
      </app-specialist-list>
    </aside>
    <app-schedule-controller
      class="row mt-1 mb-1 schedule"
      [allscheduleItems]="allScheduleItems">
    </app-schedule-controller>
  </main>
  <footer class="bg-dark text-white p-2 mt-auto text-center">2021г.</footer>
</div>
